@use "./reset.scss";
@use "./color.scss";


.hide{
  display: none;
}

.section-1 {
  & img {
    align-self: center;
    height: 494px;
    width: 494px;
  }
  .logo-section {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    & h1 {
      position: relative;
      bottom: 60px;
      font-weight: bold;
      font-size: 50px;
      color: #fff;
      font-family: "Turret Road";
    }
  }
  .submit-section {
    padding: 10px;
    margin: 0 auto;
    width: 800px;
    height: 300px;
    background-color: #000000e8;
    border-radius: 10px;
    & h2 {
      text-transform: uppercase;
      font-size: 26px;
      text-align: center;
      padding: 5px;
      font-weight: bold;
      @include color.gradient();
    }
  }
  .input-submit {
    display: flex;
    flex-direction: column;
  }
  .form {
    display: flex;
    justify-content: space-around;

    & button {
      font-weight: lighter;
      transition: 0.5s;
      opacity: 0.6;
      background: rgb(108, 216, 209);
      background: linear-gradient(
        191deg,
        rgba(108, 216, 209, 1) 0%,
        rgba(34, 164, 156, 1) 62%
      );
      color: #fff;
      margin-top: 6px;
      display: inline;
      align-self: flex-end;
      height: 40px;
      width: 85px;
      border: none;
      border-radius: 7px;

      &:hover {
        opacity: 1;
        background: rgb(131, 66, 158);
        background: linear-gradient(
          191deg,
          rgb(64, 22, 87) 0%,
          rgb(125, 72, 191) 62%
        );
      }
    }
    & div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      & input {
        border-radius: 7px;
        border: none;
        background-color: #ffffff0c;
        color: #fff;
      }

      & label {
        color: #fff;
        font-weight: bold;
      }
    }
    & p > input{
      cursor: pointer;
    }
  }
}
.section-2{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  & .login-section{
    height: 800px;
    width: 600px;
    margin-top: 130px;
    background-color:  #000000e8;
    border-radius: 10px;
    display: flex;
    .login-container{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 80%;
      text-align: center;
      gap: 30px;
      & h2{
        @include color.gradient();
        font-size: 40px;
        padding-top: 40px;
      }
      & h3{
        font-size: 25px;
        color: #ffffff;
      }
      & input{
        border-radius: 7px;
        border: none;
        background-color: #ffffff0c;
        color: #fff;
        height: 45px;
        width: 410px;
        align-self: center;
        font-size: 18px;
        padding: 10px;
      }
      & div{
        margin:  0 auto;
        width: 410px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        color: #fff;
        & a:hover{
          @include color.gradient();
          cursor: pointer;

        }
        & input{
          margin-left: 5px;
          width: 15px;
          height: 10px;
        }
      }
    & button[type = submit]{
      font-weight: lighter;
      margin-right: 20px;
      transition: 0.5s;
      opacity: 0.6;
      background: rgb(108, 216, 209);
      background: linear-gradient(
        191deg,
        rgba(108, 216, 209, 1) 0%,
        rgba(34, 164, 156, 1) 62%
      );
      color: #fff;
      margin-top: 6px;
      display: inline;
      align-self: flex-end;
      height: 40px;
      width: 85px;
      border: none;
      border-radius: 7px;

      &:hover {
        opacity: 1;
        background: rgb(131, 66, 158);
        background: linear-gradient(
          191deg,
          rgb(64, 22, 87) 0%,
          rgb(125, 72, 191) 62%
        );
      }
    }
    }
  }
  & .links-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    & .link-btn{
      background-color: #100F0F;
      border-radius: 4px;
      border: none;
      width: 50px;
      height: 50px;
      transition: .4s;
      &:hover{
        background-color: #ffffffa7;
      }
    }
  }
  & .p{
    color: #fff;
    font-weight: bold;
  }
  & p{
    position: relative;
    bottom: 0;
    color: #fff;
    & a{
      color: #59c9c9;
      font-weight: bold;
    }
  }
}

@media  (max-width: 390px){
  body{
    background-size: contain;
      display: flex;
      flex-direction: column;
      width: 100%;
  }

  .section-1{
    padding: 0;
    margin: 0;
      width: 100%;
      & img {
        padding: 0;
          width: 90%;
        }
      & .logo-section{
          display: none;
      }
      .submit-section{
        padding-bottom: 30px;
        position: relative;
        height: 100%;
        text-align: center;
        width: 100%;
        display: block;
        margin: 0 auto ;
        .form{
          display: block;
        }
        & input{
          align-self:center;
          text-align: center;
          width: 90%;
          height: 40px;
        }
        & p{
          font-size: 15px;
          text-align: start;
          margin-left: 20px;
          margin-bottom: 40px;
          position: absolute;
          bottom: 0;
          gap: 5px;
          display: flex;
          & input[type=checkbox]{
            height: 10px;
            width: 10px;
          }
        }
        .create-account{
          margin-top: 10px;
          margin-right: 20px;
        }
      
      }
  }
  .section-2{
  
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .login-section{
    height: 100%;
    margin: 0;
    padding: 0;

    & #div{
    width: auto;
    gap: 30px;

    }
  }
 

}
@media(max-width: 834px){
body{
 display: block;
}}

